.quotes
{
	font-family: source-sans-pro-n3, sans-serif;
}

.bodytext,.heading1
{
	font-family: source-sans-pro-n4, sans-serif;
}

.heading2,.team-names
{
	font-family: crete-round-n4, serif;
}

.title-semibold
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u4366-5,#u185-4
{
	font-family: play-n4, sans-serif;
}

#u180-4
{
	font-family: play-n4, sans-serif;
}

#u3478-4
{
	font-family: play-n4, sans-serif;
}

#u3492-4
{
	font-family: play-n4, sans-serif;
}

#u3498-4
{
	font-family: play-n4, sans-serif;
}

#u3506-4
{
	font-family: play-n4, sans-serif;
}

#u3510-4
{
	font-family: play-n4, sans-serif;
}

#u8037-4
{
	font-family: play-n4, sans-serif;
}

#u7252-4
{
	font-family: play-n4, sans-serif;
}

#u199-4
{
	font-family: play-n4, sans-serif;
}

#u3739-4
{
	font-family: play-n4, sans-serif;
}

#u3748-4
{
	font-family: play-n4, sans-serif;
}

#u3753-4
{
	font-family: play-n4, sans-serif;
}

#u3763-4
{
	font-family: play-n4, sans-serif;
}

#u3769-4
{
	font-family: play-n4, sans-serif;
}

#u3775-4
{
	font-family: play-n4, sans-serif;
}

#u3783-4
{
	font-family: play-n4, sans-serif;
}

#u3791-4
{
	font-family: play-n4, sans-serif;
}

#u3796-4
{
	font-family: play-n4, sans-serif;
}

#u3802-4
{
	font-family: play-n4, sans-serif;
}

#u2947-4
{
	font-family: play-n4, sans-serif;
}

#u3596-4
{
	font-family: play-n4, sans-serif;
}

#u3607-4
{
	font-family: play-n4, sans-serif;
}

#u3615-4
{
	font-family: play-n4, sans-serif;
}

#u3621-4
{
	font-family: play-n4, sans-serif;
}

#u9193-4
{
	font-family: play-n4, sans-serif;
}

#u190-4
{
	font-family: play-n4, sans-serif;
}

#u2985-4
{
	font-family: play-n4, sans-serif;
}

#u3810-2,#u3810-9,#u3811-2
{
	font-family: play-n7, sans-serif;
}

#u3810-4,#u3810-6,#u3810-7,#u3810-11,#u3811-4,#u3811-6,#u3811-8,#u3811-10,#u3811-12,#u3811-14,#u3811-16,#u3823-4,#u3824-4,#u3812-8,#u7165-18,#u4359-6
{
	font-family: play-n4, sans-serif;
}

#u6659-31
{
	font-family: play-n4, sans-serif;
}

